.comment-content {
  margin-left: 5px;
  word-break: break-all;
}

.comment-owner {
  color: black;
  font-weight: bold;
}

.input-comment {
  margin-top: 15px;
  input {
    font-size: 1em;
    height: 2em;
  }
}