.nav-bar {
  background-color: white;
  .instagram-logo {
    &::after {
      height: 100%;
      content: '';
      border-right: solid 1px black;
      padding-left: 15px;
    }
  }
  .brand-logo {
    color: black;
    font-family: 'Billabong';
    @include respond-to(xs) {
      i {
        display: none;
      }
    }
  }
  #nav-mobile a {
    color: black;
    &:hover {
      background-color: transparent;
    }
  }
  #nav-mobile i {
      @include respond-to(xs) {
        font-size: 18px;
      }
  }
}

.navbar-fixed nav {
  background-color: white;
}